<%- include('../../templets/header.ejs') %>
<%- include('../../templets/sidebar.ejs') %>
<%- include('../../templets/navbar.ejs') %>

  <!-- Begin Page Content -->
  <div class="container-fluid">

    <%- include('../partial/message.ejs') %>

      <!-- Page Heading -->
      <h1 class="h3 mb-4 text-gray-800">CATEGORY</h1>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalAdd">
                    Add
                </button>
            </div>
            <div class="card-body">
                <%- include('table_user.ejs') %>
            </div>
        </div>
        <!-- end data table -->

</div>
 <!-- /.container-fluid -->
<%- include('modal_add.ejs') %>
<%- include('modal_edit.ejs') %>
<%- include('../../templets/footer.ejs') %>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    $(document).on('click', '#btn-edit',function(){
        let name = $(this).data('name');
        let email = $(this).data('email');
        let phone_no = $(this).data('phone_no');
        let id   = $(this).data('id')
        $('#formEdit #name').val(name);
        $('#formEdit #email').val(email);
        $('#formEdit #phone_no').val(phone_no);
        $('#formEdit #id').val(id);
        $('#modalEdit').modal('show')
    })

        //ajax to remove data
        $('#dataTable').on('click','#btn-delete', function(){
      const id = $(this).data('id')

      Swal.fire({
				title: 'Are your sure?',
				text: "Want To Delete It!",
				icon: 'warning',
				showCancelButton: true,
				confirmButtonColor: '#3085d6',
				cancelButtonColor: '#d33',
				confirmButtonText: 'Ya, Do It!'
			}).then((result) => {
				if (result.value) {

            $.ajax({
              url: '/admin/user/'+ id,
              dataType: 'JSON',
              type: 'DELETE',
              success: function(result){
                if(result.status == "Success"){
                  Swal.fire({
                    icon: 'success',
                    title: 'Success Delete...',
                    text: 'Yeah, You Success Delete It!',
                  })
                }else{
                  Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'You Fail To Delete It!',
                  })
                }
                setTimeout(()=>{
                  location.reload();
                },500)
              }
            })

        }
      })
    })
    //end ajax to delete data
</script>